php_flag display_errors on

Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PATCH"
Header always set Access-Control-Allow-Headers "Content-type, Authorization"

RewriteEngine On

#Autorización del token
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Cosas raras
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %(REQUEST_FILENAME) !-f

#Categorias 
#RewriteRule ^categorias$ Controllers/categoriasController.php [L]

#Producto
RewriteRule ^productos?producto_id=([0-9]+)$ Controllers/productoController.php?categoria_id=$1 [L]
RewriteRule ^productos/producto_id=(.*)$ Controllers/productoController.php?categoria_id=$1 [L]
RewriteRule ^productos/id_vendedor=(.*)$ Controllers/productoController.php?id_vendedor=$1 [L]

#Productos
RewriteRule ^productos$ Controllers/productosController.php [L]
RewriteRule ^productos/id_depa=(.*)$ Controllers/productosController.php?id_depa=$1 [L]


#Usuarios
RewriteRule ^usuarios$ Controllers/usuariosController.php

#Preguntas
RewriteRule ^preguntas$ Controllers/preguntaController.php [L]
RewriteRule ^preguntas?id_producto=([0-9]+)$ Controllers/preguntaController.php?id_producto=$1 [L]
RewriteRule ^preguntas/id_producto=(.*)$ Controllers/preguntaController.php?id_producto=$1 [L]
RewriteRule ^preguntas?id_pregunta=([0-9]+)$ Controllers/preguntaController.php?id_pregunta=$1 [L]
RewriteRule ^preguntas/id_pregunta=(.*)$ Controllers/preguntaController.php?id_pregunta=$1 [L]

# Buscar
RewriteRule ^buscar$ Controllers/buscarController.php [L]
RewriteRule ^buscar/titulo=(.*)$ Controllers/buscarController.php?titulo=$1 [L]
RewriteRule ^buscar/id_depa=(.*)$ Controllers/buscarController.php?id_depa=$1 [L]

# Carrito
RewriteRule ^carrito$ Controllers/carritoController.php [L]
RewriteRule ^carrito/id_usuario=(.*)$ Controllers/carritoController.php?id_usuario=$1 [L]

#Usuarios
RewriteRule ^usuarios$ Controllers/usuariosController.php [L]
RewriteRule ^usuarios/id_usuario=(.*)$ Controllers/usuariosController.php?id_usuario=$1 [L]

#Sesiones 
RewriteRule ^sesiones$ Controllers/sesionesController.php [L]
RewriteRule ^sesiones/id_sesion=(.*)$ Controllers/sesionesController.php?id_sesion=$1 [L]

#Departamentos
RewriteRule ^departamentos$ Controllers/departamentosController.php [L]
