RewriteEngine On

RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %(REQUEST_FILENAME) !-f

#Categorias 
#RewriteRule ^categorias$ Controllers/categoriasController.php [L]

#Tareas
RewriteRule ^productos$ Controllers/productoController.php [L]
RewriteRule ^productos?producto_id=([0-9]+)$ Controllers/tareasController.php?categoria_id=$1 [L]
RewriteRule ^productos/producto_id=(.*)$ Controllers/tareasController.php?categoria_id=$1 [L]

#Usuarios
RewriteRule ^usuarios$ Controllers/usuariosController.php