php_flag display_errors on

RewriteEngine On

RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %(REQUEST_FILENAME) !-f

#Categorias 
#RewriteRule ^categorias$ Controllers/categoriasController.php [L]

#Productos
RewriteRule ^productos$ Controllers/productoController.php [L]
RewriteRule ^productos?producto_id=([0-9]+)$ Controllers/productoController.php?categoria_id=$1 [L]
RewriteRule ^productos/producto_id=(.*)$ Controllers/productoController.php?categoria_id=$1 [L]
RewriteRule ^productos/id_vendedor=(.*)$ Controllers/productoController.php?id_vendedor=$1 [L]

# Buscar
RewriteRule ^buscar$ Controllers/buscarController.php [L]
RewriteRule ^buscar/titulo=(.*)$ Controllers/buscarController.php?titulo=$1 [L]

# Carrito
RewriteRule ^carrito$ Controllers/carritoController.php [L]
RewriteRule ^carrito/id_usuario=(.*)$ Controllers/carritoController.php?id_usuario=$1 [L]

#Usuarios
RewriteRule ^usuarios$ Controllers/usuariosController.php [L]
RewriteRule ^usuarios/id_usuario=([0-9]+)$ Controllers/usuariosController.php?id_usuario=$1 [L]